@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../../fonts/Avenir/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.avenir-book {
  font-family: 'Avenir-Book', sans-serif;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.montserrat-regular {
  font-family: 'Montserrat-Regular', sans-serif;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../fonts/Montserrat/Montserrat-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.montserrat-medium {
  font-family: 'Montserrat-Medium', sans-serif;
}
